.up{
background-color:lightgrey;
height:50px;
width:100%;
}
.up button{
	margin-left:30%;
	}

.topnav {
  background-color:white;
  top:7%;
  width:100%;
  position:fixed;
}
.topnav :hover{
 color:black;


}
.topnav li{
display:inline;
}
.topnav a{
padding:10px;
font-family: 'Courier New', Courier, monospace;
font-size:17px;
}
.topnav a:hover{
	font-size: 20px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.h2pro{
margin-top:100px;
left: 0%;
right: 0%;
text-align: center;
font-size:70px;
position:absolute; <! -- absolute postion create conflicts with alignment-->
}
.h2pro:hover{
	
	font-size: 80px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color:steelblue;
}
#About{
color:grey;
font-size:20px;;
}

.About1{
	background-color:#5d6b56;
	color:white;
}

.About1:hover{
	background-color: #c6b9e0;
	color:black;
}
.About2 p:hover{
	border:1px solid black;
	text-align: center;
	background-color: darkgray;
	color:white;
}
.img{
	border: 2px solid black;
	background-color:rgb(168, 187, 180);
	width:100%;
	height:36vh;
}
.img1{
	background-image:url("../Image/img2.jpeg");
	height:31vh;
	border: 2px solid black;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float:left;
	width:30%;
	margin-top:1%;
	margin-bottom:1%;
	margin-left:4%;
}
.img2{
	background-image: url("../Image/img.jpeg");
	height: 31vh;
	background-repeat: no-repeat;
	float:left;
	background-size: 100% 100%;
	border: 2px solid black;
	position:relative;
	width:30%;
	margin-top:1%;
	margin-bottom:1%;
}
.img3{
	background-image: url("../Image/img1.jpeg");
	height:31vh;
	float:left;
	border: 2px solid black;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position:relative;
	width:30%;
	margin-top:1%;
	margin-bottom:1%;
}

.img1:hover{
	border: 5px solid brown;
}
.img2:hover{
	border: 5px solid brown;
}
.img3:hover{
	border: 5px solid brown;
}
.img4{
	background-image:url("../Image/img2.jpg");
	height:31vh;
	border: 2px solid black;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float:left;
	width:30%;
	margin-top:1%;
	margin-bottom:1%;
	margin-left:4%;
}
.img5{
	background-image: url("../Image/img.jpeg");
	height: 31vh;
	background-repeat: no-repeat;
	float:left;
	background-size: 100% 100%;
	border: 2px solid black;
	position:relative;
	width:30%;
	margin-top:1%;
	margin-bottom:1%;
}
.img6{
	background-image: url("../Image/img1.jpeg");
	height:31vh;
	float:left;
	border: 2px solid black;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position:relative;
	width:30%;
	margin-top:1%;
	margin-bottom:1%;
}

.img4:hover{
	border: 5px solid brown;
}
.img5:hover{
	border: 5px solid brown;
}
.img6:hover{
	border: 5px solid brown;
}

.log{
border:1px solid black;
background-color:skyblue;
height:250px;
width:500px;
margin-left:400px;
margin-top:200px;
text-align:center;
}
.logbody{
 background-image: linear-gradient(to right,green,indigo,violet,green);
}
.reg{
border:1px solid black;
background-color:skyblue;
height:500px;
width:500px;
margin-left:400px;
margin-top:100px;
text-align:center;
}

#mycanvas{
border:1px solid red;
}

#mycanvas1{
border:1px solid red;
}

.ul li a:hover{
  background-color:grey;
  color:white;
}

.line{
  border: 1px solid grey;
}

.video1{
	float:left;
	border:5px solid blue; 
}
.video2 , .video3 ,.video4{
	float:left;
	position: relative;
	border:5px solid blue; 
}

#course{
	height: 100%;
}



@media only screen and (max-width: 518px){
	.video1 , .video2 , .video3 , .video4{
		margin-left: 10%;
		margin-right: 10%;
	}
	.img{
		height: 20vh;
	}
	.img1 , .img2 , .img3 , .img4 , .img5 ,.img6{
		height:18vh;
	}
	.up {
	background-color:purple;
	width:450px;
	}
	.up p{
	color:white;
	}
	.up button{
	margin-left:15%;
	}
	#home img{
	width:450px;
	}
	.topnav{
	background-color:#c6b9e0;
	width:auto;
	}
	.topnav li{
	display:block;
	}
	.h2pro{
	font-size:40px;
	color:#5d6b56;
	}
	#About{
	color:#44675a;
	}
	#mycanvas{
	width:400px;
	margin:10%;
	}
}

@media screen and (min-width: 600px) and (max-width: 800px){
  .up{
      background-color:#4fc3f7;
     }

	 .video1 , .video2 , .video3 , .video4{
		margin-left: 30%;
		margin-right: 20%;
	}
  .up button{
	margin-left:20%;
	}
     .h2pro{
	font-size:50px;
	color:grey;
	}
  #About{
	color:#a21414;
        }
  .topnav {
  	background-color:#a21414;
	}
  .ul li a{
	color:white;
	}
      }

@media screen and (max-width:600px) and (min-width:518px){
	.up {
	background-color:purple;
	}
	.up p{
	color:white;
	}
	.up button{
	margin-left:15%;
	}
	.topnav{
	background-color:#c6b9e0;
	width:auto;
	}
	.h2pro{
	font-size:40px;
	color:#5d6b56;
	}
	#About{
	color:#44675a;
	}
	#mycanvas{
	width:400px;
	margin:10%;
	}
	.video1 , .video2 , .video3 , .video4{
		margin-left: 20%;
		margin-right: 20%;
	}
	}